body {
  background-color: variables.$dark;
  font-family: Manrope, sans-serif;
  font-weight: 500;
  color: variables.$white;
  font-size: 0.875rem;

  @include screens.laptop {
    font-size: 1rem;

    // Required for locomotive-scroll
    overflow: hidden;
  }
}

// Scroll bar styles
.c-scrollbar {
  opacity: 1 !important;

  /* stylelint-disable-next-line selector-class-pattern */
  .c-scrollbar_thumb {
    background-color: variables.$grey;
    opacity: 0.25;
    margin: 4px;
    transition: opacity 0.3s variables.$ease-in-out;

    &:hover,
    &:active {
      opacity: 0.5;
    }

    &:active {
      cursor: grabbing;
    }
  }
}

/* globals.scss or app.vue style */
html,
body,
#__nuxt,
#__layout {
  position: relative;
  z-index: 0; // establish base stacking
}

header {
  position: fixed;
  z-index: 9999; // force top layer
  // backdrop-filter: blur(20px);
  // -webkit-backdrop-filter: blur(20px); // for Safari/iOS
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

bb {
  color: variables.$white !important;
}


[data-lang='fa'] > body {
  font-family: 'IRANSansX-d4' !important;
  direction: rtl;
  text-align: right;
}

[data-lang='fa'] .menno{
  animation: appear 0.5s variables.$ease-in-out;
right: 20px;
}
[data-lang='en'] .menno{
  animation: appear 0.5s variables.$ease-in-out;
left: 20px;
  
}
  

[data-lang='fa'] * {
  font-family: 'IRANSansX-d4' !important;
  direction: rtl;
  text-align: right;
}

[data-lang='en'] > body {
  direction: ltr;
  text-align: left;
}

.text-d4 {
  font-family: 'IRANSansX-d4', sans-serif;
  font-style: normal;
}

.text-demibold {
  font-weight: 600;
}
.rtl {
  direction: rtl !important;
  text-align: right;
}

.ltr {
  direction: ltr !important;
}

[dir='rtl'] {
  * {
    font-family: 'IRANSansX-d4' !important;
  }
}
